@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

body {
    margin: 0 auto 0 auto;
    font-family: 'Lexend Exa', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#mother-ship-nav {
    max-height: 100px !important;
}

#ms-home {
    margin: auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

#ms-body-components {
    background-image: url("https://res.cloudinary.com/wemakeart/image/upload/v1573323789/mother-ship/ms-background_uov2sz.png");
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ms-nav-head {
    margin: auto;
}

.ms-image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ms-body-width {
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto 0 auto
}
